.productos{
    width: 280px;
    height: 350px;
}

h1{
    text-align: center;
}

.baterias{
    width: 300px;
    height: 250px;
}

.bajos{
    width: 300px;
    height: 400px;
}

.contacto{
    margin-left: 10%;
}

.button{
    background-color: #30333b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 40%;
}

#enviar{
    margin-left: 49%;
}

.info{
    margin-left: 10%;
}

.tit{
    font-size: 24px;
}

input{
    width: 67%;
}

.check{
    margin-left: 80%;
}

#about{
    margin-left: 11%;
    margin-right: 11%;
    text-align: justify;
    font-size: 20px;
}

#usuarios{
    margin-left: 30%;
}